.persons__content {
    width: 100%;
    padding: 0 6rem;
    margin-bottom: 0;
}
@media (max-width: 1280px) {
    .persons__content {
        padding: 0 calc(0rem + (6 - 0) * ((100vw - 20rem) / (80 - 20)));
    }
}

.card {
    width: 99%;
    margin: 0 auto;
    position: sticky;
    transition: .8s;
    top: 2rem;
    transform-origin: center top;
    background: rgba(190, 220, 227, 1);
}

.person__cart {
    width: 100%;
    position: relative;
}

.stack-cards__item {
    position: sticky;
    top: 2rem;
    transform-origin: center top;
}
@media (max-width: 1280px) {
    .stack-cards__item {
        top: calc(0rem + (2 - 0) * ((100vw - 20rem) / (80 - 20)))
    }
}