@font-face {
    font-family: 'Troubleside';
    src: local('Troubleside Regular'), local('Troubleside-Regular'),
    url('../fonts/Troubleside.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(80, 80, 80, 1);
}

.online__content_link {
    position: fixed;
    right: 6%;
    bottom: 6%;
    z-index: 100;
}

.online_link {
    display: inline-block;
    font-size: 1rem;
    color: rgba(222, 222, 222, 1);
    padding: 1.33rem;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    margin-top: 3rem;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .online_link {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1rem + (1.33 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.online_link:before {
    content: "";
    position: absolute;
    left: 0;
    top: .5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
    background-color: rgb(201, 74, 0);
    transition: .5s;
    z-index: -1;
}
@media (max-width: 1280px) {
    .online_link:before {
        width: calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
        height: calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
    }
}

.online_link:hover:before {
    width: 100%;
}

.wrapper__header {
    background-color: #2c3e50;
    width: 100%;
}

.header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.66rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .header {
        padding: calc(.66rem + (1.66 - .66) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.header__logo {
    width: 33.33%;
}
@media (max-width: 500px) {
    .header__logo {
        width: 50%;
    }
}

.header__logo h2 {
    font-family: 'Troubleside', sans-serif;
    font-size: 2.33rem;
    color: rgb(255,130,45);
    padding: 0 0 .2rem 0;
    letter-spacing: .1rem;
}
@media (max-width: 1280px) {
    .header__logo h2 {
        font-size: calc(1.66rem + (2.33 - 1.66) * ((100vw - 20rem) / (80 - 20)));
    }
}

.header__logo h3 {
    font-family: 'Troubleside', sans-serif;
    font-size: .73rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    letter-spacing: .03rem;
}
@media (max-width: 1280px) {
    .header__logo h3 {
        font-size: calc(.53rem + (.73 - .53) * ((100vw - 20rem) / (80 - 20)));
    }
}

.datetime {
    width: 33.33%;
}
@media (max-width: 500px) {
    .datetime {
        display: none;
    }
}

.datetime p {
    font-size: 1.2rem;
    line-height: 1.66rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
@media (max-width: 1280px) {
    .datetime p {
        font-size: calc(.8rem + (1.2 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.phone {
    text-align: right;
    width: 33.33%;
}
@media (max-width: 500px) {
    .phone {
        width: 50%;
    }
}

.phone_link {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.1rem;
    color: rgba(255, 255, 255, 1);
    padding: 1.66rem;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
}
@media (max-width: 1280px) {
    .phone_link {
        font-size: calc(.8rem + (1.2 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.8rem + (1.1 - .8) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
    }
}

.phone_link:before {
    content: "";
    position: absolute;
    left: 0;
    top: .7rem;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: #d35400;
    transition: .5s;
    z-index: -1;
}
@media (max-width: 1280px) {
    .phone_link:before {
        width: calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
        height: calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
        top: calc(.6rem + (.7 - .6) * ((100vw - 20rem) / (80 - 20)));
    }
}

.phone_link:hover:before {
    width: 100%;
}

.wrapper__nav {
    background-color: #2c3e50;
    border-top: 2px solid rgba(255, 255, 255, .33);
    border-bottom: 2px solid rgba(255, 255, 255, .33);
}

.nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.66%;
}
@media (max-width: 700px) {
    .nav {
        display: none;
    }
}

.mobile__nav {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.66%;
    display: none;
    position: relative;
}
@media (max-width: 700px) {
    .mobile__nav {
        display: flex;
    }
}

.subPanel {
    position: absolute;
    width: 100%;
    background-color: #2c3e50;
    border-top: 2px solid rgba(255, 255, 255, .33);
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    top: 100%;
    left: 0;
    padding: 1rem;
    transform-origin: center top 0;
    transform: perspective(600px) rotateX(-90deg);
    opacity: 0;
    transition: .5s;
    z-index: 1000;
}

.subPanel__open {
    position: absolute;
    width: 100%;
    background-color: #2c3e50;
    border-top: 2px solid rgba(255, 255, 255, .33);
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    top: 100%;
    left: 0;
    padding: 1rem;
    transform-origin: center top 0;
    transform: perspective(600px) rotateX(0deg);
    opacity: 1;
    transition: .5s;
    z-index: 1000;
}

.nav__link {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5rem;
    text-decoration: none;
    transition: .5s;
    padding: 1.33rem;
    display: inline-block;
}
@media (max-width: 1280px) {
    .nav__link {
        font-size: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (1.5 - 1) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.4rem + (1.33 - .4) * ((100vw - 20rem) / (80 - 20)));
    }
}


.nav__link:hover,
.nav__link-active {
    color: rgb(255,130,45)
}

.mobile-nav__link {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5rem;
    text-decoration: none;
    transition: .5s;
    padding: 1rem 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #2c3e50;
}
@media (max-width: 1280px) {
    .mobile-nav__link {
        font-size: calc(.8rem + (1.2 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (1.5 - 1) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.33rem + (1 - .33) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}


.mobile-nav__link:hover,
.mobile-nav__link-active {
    color: rgb(255,130,45);
    border-bottom: 1px solid rgb(255,130,45);
}

.popup__link {

}

section.main {
    /*height: 85vh;*/
    /*background-image: url("../images/main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
    display: flex;
    align-items: center;
}

.main__content {
    width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 6rem 3%;
}
@media (max-width: 1350px) {
    .main__content {
        padding: calc(0rem + (6 - 0) * ((100vw - 20rem) / (84.37 - 20))) 3%;
    }
}

#myVideo {
    position: absolute;
    left: 0;
    /*top: 12rem;*/
    width: 100%;
    height: auto;
    z-index: -2;
}
/*@media (max-width: 400px) {
    #myVideo {
        height: 100%;
        width: auto;
    }
}*/

.video__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 10rem;
    background-color: rgba(0, 0, 0, .66);
    z-index: -1;
}
@media (max-width: 1350px) {
    .video__overlay {
        top: calc(5rem + (10 - 5) * ((100vw - 20rem) / (84.37 - 20)));
    }
}

.main__content_text {
    width: 100%;
}

.main__content_text h1 {
    font-size: 4rem;
    color: rgba(222, 222, 222, 1);
    line-height: 5.33rem;
    text-align: left;
    padding: 1rem 0 2rem 0;
    text-transform: uppercase;
}
@media (max-width: 1280px) {
    .main__content_text h1 {
        font-size: calc(1rem + (4 - 1) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (5.33 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding: 1rem 0 calc(.33rem + (2 - .33) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.main__content_text h5 {
    font-size: 1.33rem;
    color: rgba(222, 222, 222, 1);
    line-height: 2rem;
    text-align: left;
    padding: 0 0 .8rem 0;
    font-weight: 200;
    font-style: italic;
    width: 40rem;
}
@media (max-width: 1280px) {
    .main__content_text h5 {
        font-size: calc(.7rem + (1.33 - .7) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.1rem + (2 - 1.1) * ((100vw - 20rem) / (80 - 20)));
        padding: 0 0 calc(.2rem + (.8 - .2) * ((100vw - 20rem) / (80 - 20))) 0;
        width: calc(20rem + (40 - 20) * ((100vw - 20rem) / (80 - 20)));
    }
}

@media (max-width: 460px) {
    .main__content_text h5:nth-of-type(2) {
        display: none;
    }
}

.main_link {
    display: inline-block;
    font-size: 1.33rem;
    color: rgba(222, 222, 222, 1);
    padding: 2rem 2rem 2rem 2rem;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    margin-top: 2.33rem;
}
@media (max-width: 1280px) {
    .main_link {
        font-size: calc(.8rem + (1.33 - .8) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
        margin-top: calc(0rem + (2.33 - 0) * ((100vw - 20rem) / (80 - 20)));
    }
}

.main_link:before {
    content: "";
    position: absolute;
    left: 0;
    top: .8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    background-color: rgb(201, 74, 0);
    transition: .5s;
    z-index: -1;
}
@media (max-width: 1280px) {
    .main_link:before {
        width: calc(1.66rem + (4 - 1.66) * ((100vw - 20rem) / (80 - 20)));
        height: calc(1.66rem + (4 - 1.66) * ((100vw - 20rem) / (80 - 20)));
        top: calc(.66rem + (.8 - .66) * ((100vw - 20rem) / (80 - 20)));
    }
}

.main_link:hover:before {
    width: 100%;
}

.about {
    width: 100%;
    padding: 0;
    background-color: rgba(136, 125, 130, 1);
}

.about__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about__item {
    width: 16.66%;
    padding: 3rem 1.66rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(235,224,229);
    cursor: pointer;
    text-decoration: none;
    transition: .7s;
    position: relative;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
@media (max-width: 1280px) {
    .about__item {
        padding: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(.5rem + (1.66 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 1120px) {
    .about__item {
        width: 33.33%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .about__item:nth-child(4),
    .about__item:nth-child(5),
    .about__item:nth-child(6) {
        margin-bottom: 0;
    }
}
@media (max-width: 450px) {
    .about__item {
        width: 50%;
        text-align: center;
        padding:
                calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)))
                calc(.5rem + (2.66 - .5) * ((100vw - 20rem) / (80 - 20)));
        margin-bottom: 1rem;
    }
    .about__item:nth-child(4) {
        margin-bottom: 1rem;
    }
    .about__item:nth-child(5),
    .about__item:nth-child(6) {
        margin-bottom: 0;
    }
}

.about__item:not(:last-child) {
    border-right: 3px solid rgba(136, 125, 130, 1);
}
.about__item:last-child {
    border-right: 3px solid rgba(136, 125, 130, 1);
}

.about__item:not(:last-child):before {
    content: "";
    position: absolute;
    background-color: rgba(90, 90, 90, 1);
    height: 60%;
    width: 2.2rem;
    right: -1.1rem;
    top: 0;
    z-index: 100;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
@media (max-width: 1280px) {
    .about__item:not(:last-child):before {
        width: calc(.66rem + (2.2 - .66) * ((100vw - 20rem) / (80 - 20)));
        right: calc(-.5rem + (-1.1 + .5) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 1120px) {
    .about__item:nth-child(3):before {
        display: none;
    }
}
@media (max-width: 450px) {
    .about__item:nth-child(3):before {
        display: block;
    }
}
@media (max-width: 450px) {
    .about__item:nth-child(2):before,
    .about__item:nth-child(4):before {
        display: none;
    }
}

.about__item-img {
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    overflow: hidden;
}
@media (max-width: 1280px) {
    .about__item-img {
        padding: 0 calc(2.33rem + (2 - 2.33) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(2.33rem + (2 - 2.33) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 1120px) {
    .about__item-img {
        padding: 0 calc(3rem + (6 - 3) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(3rem + (6 - 3) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 600px) {
    .about__item-img {
        padding: 0 calc(2.33rem + (4 - 2.33) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(2.33rem + (4 - 2.33) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 500px) {
    .about__item-img {
        padding: 0 calc(2.33rem + (3 - 2.33) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(2.33rem + (3 - 2.33) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 450px) {
    .about__item-img {
        padding: 0
        calc(3rem + (8 - 3) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(3rem + (8 - 3) * ((100vw - 20rem) / (80 - 20)));
    }
}


.about__item-img img {
    width: 100%;
    opacity: .8;
}

.about__item-img img:nth-child(2) {
    display: none;
}

.about__item-txt {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 1);
    transition: .5s;
    text-align: center;
}
@media (max-width: 1280px) {
    .about__item-txt {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (1.5 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.about__item:hover {
    background-color: rgba(110, 110, 110, 1);
}

.about__item:hover .about__item-txt {
    color: white;
}

.about__item:hover .about__item-img img:nth-child(1) {
    display: none;
}
.about__item:hover .about__item-img img:nth-child(2) {
    display: inline-block;
}

.school {
    width: 100%;
    background-color: rgba(145, 180, 150, 1);
}

.about__about {
    width: 100%;
    background-color: rgba(145, 180, 150, 1);
}

.school__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 5rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .school__content {
        padding: calc(1.66rem + (5 - 1.66) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.about__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 5rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;
}
@media (max-width: 1280px) {
    .about__content {
        padding: calc(1rem + (5 - 1) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.school__title {
    font-size: 2.66rem;
    color: rgba(45, 80, 50, 1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 700;
    width: 100%;
}
@media (max-width: 1280px) {
    .school__title {
        font-size: calc(1.33rem + (2.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.about__title {
    font-size: 2.66rem;
    color: rgba(45, 80, 50, 1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 700;
    width: 100%;
}
@media (max-width: 1280px) {
    .about__title {
        font-size: calc(1.33rem + (2.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.school__subtitle {
    width: 100%;
    font-size: 1rem;
    line-height: 1.66rem;
    color: rgba(0, 0, 0, .9);
    padding-bottom: 3.66rem;
    letter-spacing: .02rem;
}
@media (max-width: 1280px) {
    .school__subtitle {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1.33rem + (3.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.about__subtitle {
    width: 100%;
    font-size: 1rem;
    line-height: 1.66rem;
    color: rgba(0, 0, 0, .9);
    padding-bottom: 3rem;
    letter-spacing: .02rem;
}
@media (max-width: 1280px) {
    .about__subtitle {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.school__content_txt {
    width: 50%;
    padding-right: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .school__content_txt {
        padding-right: calc(1rem + (6 - 1) * ((100vw - 20rem) / (80 - 20)));;
    }
}
@media (max-width: 600px) {
    .school__content_txt {
        width: 100%;
        padding-right: 3%;
    }
}

.about__content_txt {
    width: 48%;
    /*padding-right: 6rem;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
@media (max-width: 600px) {
    .about__content_txt {
        width: 100%;
    }
}

.school__content_txt p:nth-child(even) {
    width: 60%;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 1.66rem;
    text-align: left;
}
@media (max-width: 1280px) {
    .school__content_txt p:nth-child(even) {
        font-size: calc(.9rem + (1.2 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.about__content_txt p {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 1);
    padding: 2rem 3rem 1rem 0;
    text-align: right;
    cursor: pointer;
    transition: .5s;
    display: block;
    height: 50%;
    border: 1px solid rgb(125,160,130);
}
@media (max-width: 1280px) {
    .about__content_txt p {
        font-size: calc(.9rem + (1.2 - .9) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.8 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(0rem + (3 - 0) * ((100vw - 20rem) / (80 - 20))) 1rem 0;
    }
}
@media (max-width: 600px) {
    .about__content_txt p {
        text-align: center;
    }
}

.about__content_txt p span {
    font-size: 1.2rem;
    line-height: 2.66rem;
    color: rgba(0, 0, 0, .66);
    padding: 2rem 0 3rem 0;
    font-weight: 600;
}
@media (max-width: 1280px) {
    .about__content_txt p span {
        font-size: calc(1rem + (1.2 - 1) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.33rem + (2.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.about__content_txt p:nth-child(even):hover {
    background-color: rgb(125,160,130);
    border-top: 1px solid rgb(85,120,90);
}

.about__content_txt p:nth-child(odd):hover {
    background-color: rgb(125,160,130);
    border-bottom: 1px solid rgb(85,120,90);
}

.active {
    background-color: rgb(125,160,130);
}

.school__content_txt p:nth-child(odd) {
    width: 33%;
    font-size: 2.33rem;
    color: rgba(45, 80, 50, 1);
    text-align: right;
    font-weight: 700;
}
@media (max-width: 1280px) {
    .school__content_txt p:nth-child(odd) {
        font-size: calc(1.33rem + (2.33 - 1.33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.school__content_slider {
    width: 50%;
}
@media (max-width: 600px) {
    .school__content_slider {
        width: 100%;
    }
}

.about__content_slider {
    width: 52%;
    padding: 1rem;
    background-color: rgb(125,160,130);
}
@media (max-width: 600px) {
    .about__content_slider {
        width: 100%;
    }
}

.school__link {
    display: inline-block;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    padding: 1.66rem 1.66rem 1.7rem 1.66rem;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .school__link {
        font-size: calc(.9rem + (1.2 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.8rem + (1.66 - .8) * ((100vw - 20rem) / (80 - 20)));
    }
}

.school__link:before {
    content: "";
    position: absolute;
    left: 0;
    top: .8rem;
    width: 3.33rem;
    height: 3.33rem;
    border-radius: 3.33rem;
    background-color: rgb(201, 74, 0);
    transition: .5s;
    z-index: -1;
}
@media (max-width: 1280px) {
    .school__link:before {
        width: calc(2.66rem + (3.33 - 2.66) * ((100vw - 20rem) / (80 - 20)));
        height: calc(2.66rem + (3.33 - 2.66) * ((100vw - 20rem) / (80 - 20)));
        top: calc(.1rem + (.8 - .1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.school__link:hover:before {
    width: 100%;
}

.direction__link {
    display: inline-block;
    font-size: .9rem;
    color: rgba(255, 255, 255, 1);
    padding: 1.1rem 1.1rem 1rem 1.1rem;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-top: .33rem;
}

.direction__link:before {
    content: "";
    position: absolute;
    left: 0;
    top: 15%;
    width: 2.33rem;
    height: 2.33rem;
    border-radius: 3.33rem;
    background-color: rgb(201, 74, 0);
    transition: .5s;
    z-index: -1;
}

.direction__link:hover:before {
    width: 100%;
}

.slider {
    width: 100%;
    position: relative;
    background-color: rgba(245, 245, 245, 1);
    border-radius: .5rem;
    overflow: hidden;
}

.slide-empty {
    width: 100%;
    opacity: 0;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: rgba(245, 245, 245, 1);
    transition: 5s;
    border-radius: .5rem;
}

.slide img,
.slide-empty img {
    width: 100%;
    margin-bottom: -5px;
    border-radius: .5rem;
}

.slider__pointes {
    position: absolute;
    left: 0;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
@media (max-width: 1280px) {
    .slider__pointes {
        bottom: calc(.5rem + (2 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pointer {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1F5BFF;
    margin: 0 .5rem;
    cursor: pointer;
    opacity: .5;
    transition: .4s;
}
@media (max-width: 1280px) {
    .pointer {
        width: calc(1.2rem + (2 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        height: calc(1.2rem + (2 - 1.2) * ((100vw - 20rem) / (80 - 20)));
    }
}

.slide-active,
.pointer:hover,
.pointer-active {
    opacity: 1;
}

.slide-active {
    transform: scale(1.1);
}

.directions {
    width: 100%;
    padding: 6rem 3%;
    background-color: rgba(105, 87, 76, .7)
}
@media (max-width: 1280px) {
    .directions {
        padding: calc(1.66rem + (2.33 - 1.66) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.directions__title {
    font-size: 2.66rem;
    color: rgba(65, 47, 36, 1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 700;
}
@media (max-width: 1280px) {
    .directions__title {
        font-size: calc(1.33rem + (2.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.directions__subtitle {
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.66rem;
    color: rgb(35, 17, 6);
    padding: 0 0 3rem 0;
    letter-spacing: .02rem;
}
@media (max-width: 1280px) {
    .directions__subtitle {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding: 0 0 calc(1.2rem + (3 - 1.2) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.directions__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 1250px) {
    .directions__content {
        justify-content: space-around;
    }
}
@media (max-width: 400px) {
    .directions__content {
        justify-content: center;
    }
}

.direction {
    width: 23%;
    position: relative;
    margin-bottom: 2.66rem;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .direction {
        margin-bottom: calc(.5rem + (2.66 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 1250px) {
    .direction {
        width: 31%;
    }
}
@media (max-width: 900px) {
    .direction {
        width: 45%;
    }
}
@media (max-width: 620px) {
    .direction {
        width: 55%;
        margin-bottom: 1rem;
    }
}
@media (max-width: 520px) {
    .direction {
        width: 60%;
    }
}
@media (max-width: 460px) {
    .direction {
        width: 65%;
    }
}
@media (max-width: 420px) {
    .direction {
        width: 70%;
    }
}
@media (max-width: 400px) {
    .direction {
        width: 75%;
    }
}
@media (max-width: 350px) {
    .direction {
        width: 80%;
    }
}
@media (max-width: 320px) {
    .direction {
        width: 85%;
    }
}

@media (max-width: 620px) {
    .direction:nth-child(8) {
        margin-bottom: 0;
    }
}

.overlay__direction {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    transition: .5s;
    opacity: 0;
    color: white;
    padding: 1.66rem;
    font-size: .9rem;
    line-height: 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 1280px) {
    .overlay__direction {
        font-size: calc(.8rem + (.9 - .8) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.direction:hover .overlay__direction {
    opacity: 1;
}

.direction img {
    width: 100%;
    /*height: auto;*/
    margin-bottom: -5px;
}

.direction__title {
    position: absolute;
    padding: 1rem 2rem 1rem 1rem;
    color: white;
    background-color: rgba(155, 137, 126, 1);
    left: 0;
    top: 3rem;
    font-size: 1.2rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
@media (max-width: 1280px) {
    .direction__title {
        font-size: calc(1rem + (1.2 - 1) * ((100vw - 20rem) / (80 - 20)));
        padding:
                calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)))
                calc(1.5rem + (2 - 1.5) * ((100vw - 20rem) / (80 - 20)))
                calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)))
                calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.services {
    width: 100%;
    background-color: rgba(201, 142, 97, 1);
    padding: 6rem 3% 4rem 3%;
}
@media (max-width: 1280px) {
    .services {
        padding: calc(1.66rem + (6 - 1.66) * ((100vw - 20rem) / (80 - 20))) 3%
        calc(1rem + (4 - 1) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.services__title {
    font-size: 2.66rem;
    color: rgba(111, 52, 7, 1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 700;
}
@media (max-width: 1280px) {
    .services__title {
        font-size: calc(1.33rem + (2.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.services__content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.service {
    width: 48%;
    position: relative;
    margin-bottom: 2rem;
    border-radius: .5rem;
    overflow: hidden;
}
@media (max-width:570px) {
    .service {
        width: 90%;
        margin: 0 auto calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20))) auto;
    }
}

.service img {
    width: 100%;
    margin-bottom: -5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}

.service__title {
    position: absolute;
    padding: 1rem 2rem 1rem 1rem;
    color: white;
    background-color: rgba(201, 142, 97, 1);
    left: 0;
    top: 3rem;
    font-size: 1.2rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
@media (max-width: 1280px) {
    .service__title {
        font-size: calc(.9rem + (1.2 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)))
        calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)));
        top: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.service__link-box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 2rem;
    text-align: center;
}
@media (max-width: 1280px) {
    .service__link-box {
        bottom: calc(.33rem + (2 - .33) * ((100vw - 20rem) / (80 - 20)));
        width: 80%;
        left: 10%;
    }
}
@media (max-width: 474px) {
    .service__link-box {
        width: 90%;
        left: 5%;
    }
}
@media (max-width: 415px) {
    .service__link-box {
        width: 96%;
        left: 2%;
    }
}
@media (max-width: 384px) {
    .service__link-box {
        width: 98%;
        left: 1%;
    }
}
@media (max-width: 375px) {
    .service__link-box {
        width: 76%;
        left: 16%;
    }
}

.service__link {
    display: inline-block;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    padding: 1.66rem;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    margin-top: 3rem;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .service__link {
        font-size: calc(.9rem + (1.2 - .9) * ((100vw - 20rem) / (80 - 20)));
        margin-top: calc(6rem + (3 - 6) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1.3rem + (1.6 - 1.3) * ((100vw - 20rem) / (80 - 20)));
    }
}

.service__link:before {
    content: "";
    position: absolute;
    left: 0;
    top: .7rem;
    width: 3.33rem;
    height: 3.33rem;
    border-radius: 3.33rem;
    background-color: rgb(201, 74, 0);
    transition: .5s;
    z-index: -1;
}
@media (max-width: 1280px) {
    .service__link:before {
        width: calc(2.9rem + (3.33 - 2.9) * ((100vw - 20rem) / (80 - 20)));
        height: calc(2.9rem + (3.33 - 2.9) * ((100vw - 20rem) / (80 - 20)));
        top: calc(.9rem + (.7 - .9) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 1054px) {
    .service__link:before {
        top: 1.3rem;
    }
}
@media (max-width: 700px) {
    .service__link:before {
        top: 1.1rem;
    }
}
@media (max-width: 570px) {
    .service__link:before {
        top: .5rem;
    }
}
@media (max-width: 375px) {
    .service__link:before {
        top: .9rem;
    }
}


.service__link:hover:before {
    width: 100%;
}

.wrapper-pricings {
    width: 100%;
    /*background-color: #2c3e50;*/
    background-color: rgba(114, 132, 150, 1);
    padding: 6rem 3% 6rem 3%;
}
@media (max-width: 1280px) {
    .wrapper-pricings {
        padding: calc(1.66rem + (6 - 1.66) * ((100vw - 20rem) / (80 - 20))) 3%
                calc(.33rem + (6 - .33) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.pricings {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 950px) {
    .pricings {
        justify-content: space-around;
    }
}

.pricing {
    width: 31%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
    padding: 8rem 4rem 3.33rem 4rem;
    margin-bottom: 2.33rem;
    transition: .5s;
    position: relative;
    border-radius: .5rem;
}
@media (max-width: 1280px) {
    .pricing {
        padding:
                calc(4.66rem + (8 - 4.66) * ((100vw - 20rem) / (80 - 20)))
                calc(1rem + (4 - 1) * ((100vw - 20rem) / (80 - 20)))
                calc(1.33rem + (3.33 - 1.33) * ((100vw - 20rem) / (80 - 20)))
                calc(1rem + (4 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 950px) {
    .pricing {
        width: 43%;
    }
}
@media (max-width: 650px) {
    .pricing {
        width: 85%;
        margin: 0 auto 1.5rem auto;
        text-align: center;
    }
}

.pricings__title {
    font-size: 2.66rem;
    color: rgba(24, 42, 60, 1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 700;
}
@media (max-width: 1280px) {
    .pricings__title {
        font-size: calc(1.33rem + (2.6 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pricing:nth-child(1) {
    background-color: rgba(255, 237, 226, .7);
}
.pricing:nth-child(2) {
    background-color: rgba(234, 242, 215, .7);
}
.pricing:nth-child(3) {
    background-color: rgba(251, 231, 239, .7);
}
.pricing:nth-child(4) {
    background-color: rgba(205, 209, 228, .7);
}
.pricing:nth-child(5) {
    background-color: rgba(254, 250, 212, .7);
}
.pricing:nth-child(6) {
    background-color: rgba(227, 218, 231, .7);
}

.pricing__count {
    position: absolute;
    left: 0;
    top: 3rem;
    color: rgba(255, 255, 255, 1);
    padding: 1rem 2rem 1rem 1.66rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: rgba(114, 132, 150, 1);
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
@media (max-width: 1280px) {
    .pricing__count {
        font-size: calc(.9rem + (1 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding:
                calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)))
                calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
                calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)))
                calc(.33rem + (1.66 - .33) * ((100vw - 20rem) / (80 - 20)));
        top: calc(1.5rem + (3 - 1.5) * ((100vw - 20rem) / (80 - 20)))
    }
}

.pricing:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}

.pricing__lessons {
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 0;
    color: rgba(0, 0, 0, 1);
}
@media (max-width: 1280px) {
    .pricing__lessons {
        font-size: calc(1.33rem + (2 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.33rem + (2 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.pricing__instruments {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 1);
}
@media (max-width: 1280px) {
    .pricing__instruments {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.5 - 1.2) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pricing__price {
    font-size: 2.66rem;
    padding: 2rem 0 .33rem 0;
    color: rgba(0, 0, 0, 1);
}
@media (max-width: 1280px) {
    .pricing__price {
        font-size: calc(1.8rem + (2.66 - 1.8) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1.2rem + (2 - 1.2) * ((100vw - 20rem) / (80 - 20))) 0
        calc(0rem + (.33 - 0) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.pricing__desc {
    font-size: 1.1rem;
    line-height: 1.66rem;
    color: rgba(0, 0, 0, 1);
    padding: 1rem 0 1.5rem 0;
}
@media (max-width: 1280px) {
    .pricing__desc {
        font-size: calc(.9rem + (1.1 - .9) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.33rem + (1.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.33rem + (1 - .33) * ((100vw - 20rem) / (80 - 20))) 0
        calc(.66rem + (1.5 - .66) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.pricing__note {
    font-size: .9rem;
    line-height: 1.33rem;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 2.33rem;
    transform: translateX(-5rem);
    width: calc(100% + 5rem);
}
@media (max-width: 1280px) {
    .pricing__note {
        font-size: calc(.8rem + (.9 - .8) * ((100vw - 20rem) / (80 - 20)));
        transform: translateX(calc(-3.5rem + (-5 + 3.5) * ((100vw - 20rem) / (80 - 20))));
        padding-bottom:calc(1.33rem + (2.33 - 1.33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pricing__note span {
    display: inline-block;
    padding: 1.33rem .8rem;
    border-radius: 50%;
    background-color: rgba(27, 163, 156, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.1rem;
    margin-right: .66rem;
    transform: rotateZ(15deg);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}
@media (max-width: 1280px) {
    .pricing__note span {
        font-size: calc(.8rem + (1.1 - .8) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.66rem + (1.33 - .66) * ((100vw - 20rem) / (80 - 20)))
        calc(.33rem + (.8 - .33) * ((100vw - 20rem) / (80 - 20)));
        margin-right: calc(.5rem + (.66 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pricing__link {
    display: block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(221, 94, 20, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 1.66rem;
    text-decoration: none;
    transition: .5s;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .pricing__link {
        font-size: calc(.9rem + (1.1 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding-top: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pricing__link:hover {
    background-color: rgba(221, 94, 20, .66);
}

.certificate-wrapper {
    width: 100%;
    background-color: rgba(182, 164, 153, 1);
    padding: 5rem 3%;
}
@media (max-width: 1280px) {
    .certificate-wrapper {
        padding: calc(1.66rem + (5 - 1.66) * ((100vw - 20rem) / (80 - 20))) 3%
        calc(.66rem + (5 - .66) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.certificate__title {
    font-size: 2.6rem;
    color: rgba(82, 64, 53, 1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 700;
}
@media (max-width: 1280px) {
    .certificate__title {
        font-size: calc(1.33rem + (2.6 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.certificate {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 600px) {
    .certificate {
        justify-content: center;
    }
}

.certificate__img {
    width: 45%;
    text-align: center;
    padding: 1rem 0 2rem 0;
}
@media (max-width: 600px) {
    .certificate__img {
        width: 93%;
        padding: .1rem 0 .5rem 0;
    }
}

.certificate__img img {
    width: 100%;
}

.certificate__list {
    width: 50%;
}
@media (max-width: 600px) {
    .certificate__list {
        width: 93%;
    }
}

.certificate__list-rounded {
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, .5);
    font-size: 1rem;
}

.certificate__list-rounded li {
    position: relative;
    display: block;
    padding: 1rem 1rem 1rem 3rem;
    margin: .5rem 0 3rem 1rem;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(230, 230, 230, 1);
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: rgba(232, 214, 203, 1);
    border-radius: .5rem;
    color: rgba(0, 0, 0, 1);
}
@media (max-width: 1280px) {
    .certificate__list-rounded li {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.5 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding:
                calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)))
                calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)))
                calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)))
                calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
        margin:
                calc(.5rem + (.5 - .5) * ((100vw - 20rem) / (80 - 20)))
                0
                calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)))
                calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)));
    }
}

.certificate__list-rounded li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.33rem;
    top: 50%;
    margin-top: -1.2rem;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border: 0.33rem solid rgba(182, 164, 153, 1);
    text-align: center;
    font-weight: bold;
    border-radius: 2rem;
    transition: all .3s ease-out;
    box-shadow: 1px 1px 3px rgba(200, 200, 200, 1);
    color: rgba(120, 120, 120, 1);
    background-color: rgba(232, 214, 203, 1);
}

.visits {
    padding: 6rem 3%;
    background: rgba(190, 220, 227, 1);
}
@media (max-width: 1280px) {
    .visits {
        padding: calc(1.66rem + (6 - 1.66) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.visits__title {
    font-size: 2.66rem;
    color: rgba(80, 110, 117, 1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 700;
}
@media (max-width: 1280px) {
    .visits__title {
        font-size: calc(1.33rem + (2.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.visits__content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.visits__text {
    width: 46%;
}
@media (max-width: 900px) {
    .visits__text {
        width: 100%;
    }
}

.visits__text p {
    font-size: 1rem;
    line-height: 1.66rem;
    color: rgba(40, 70, 77, 1);
    padding-bottom: 1rem;
}
@media (max-width: 1280px) {
    .visits__text p {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(.33rem + (1 - .33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.visits__image {
    width: 46%;
}
@media (max-width: 900px) {
    .visits__image {
        width: 100%;
        text-align: center;
    }
}

.visits__image img {
    width: 100%;
    border-radius: .5rem;
}
@media (max-width: 900px) {
    .visits__image img {
        width: 50%;
        margin-top: 1rem;
    }
}
@media (max-width: 850px) {
    .visits__image img {
        width: 55%;
    }
}
@media (max-width: 800px) {
    .visits__image img {
        width: 60%;
    }
}
@media (max-width: 750px) {
    .visits__image img {
        width: 65%;
    }
}
@media (max-width: 700px) {
    .visits__image img {
        width: 70%;
    }
}
@media (max-width: 650px) {
    .visits__image img {
        width: 75%;
    }
}
@media (max-width: 600px) {
    .visits__image img {
        width: 80%;
    }
}
@media (max-width: 550px) {
    .visits__image img {
        width: 85%;
    }
}
@media (max-width: 500px) {
    .visits__image img {
        width: 90%;
    }
}
@media (max-width: 450px) {
    .visits__image img {
        width: 95%;
    }
}

.visits__link {
    display: inline-block;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    padding: 1.66rem;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .visits__link {
        font-size: calc(.9rem + (1.1 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (80 - 20)));
        margin-top: calc(0rem + (1 - 0) * ((100vw - 20rem) / (80 - 20)));
    }
}

.visits__link:before {
    content: "";
    position: absolute;
    left: 0;
    top: .8rem;
    width: 3.33rem;
    height: 3.33rem;
    border-radius: 3.33rem;
    background-color: rgb(201, 74, 0);
    transition: .5s;
    z-index: -1;
}
@media (max-width: 1280px) {
    .visits__link:before {
        width: calc(2.2rem + (3.33 - 2.2) * ((100vw - 20rem) / (80 - 20)));
        height: calc(2.2rem + (3.33 - 2.2) * ((100vw - 20rem) / (80 - 20)));
        top: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.visits__link:hover:before {
    width: 100%;
}

.bg-footer {
    background-color: #2c3e50;
    width: 100%;
}

.footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 4rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .footer {
        padding: calc(1.5rem + (4 - 1.5) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.footer__logo h2 {
    font-family: 'Troubleside', sans-serif;
    font-size: 2.33rem;
    color: rgb(255,130,45);
    padding: 0 0 .66rem 0;
    letter-spacing: .1rem;
}
@media (max-width: 905px) {
    .footer__logo h2 {
        text-align: center;
    }
}

@media (max-width: 905px) {
    .footer-item > .header__logo {
        text-align: center;
        width: 100%;
    }
}

.footer__logo h3 {
    font-family: 'Troubleside', sans-serif;
    font-size: .73rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    letter-spacing: .03rem;
}
@media (max-width: 905px) {
    .footer__logo h3 {
        text-align: center;
    }
}

.footer-item {
    width: 25%;
    padding: 0 2rem;
}
@media (max-width: 905px) {
    .footer-item {
        width: 100%;
        text-align: center;
        padding: 0;
    }
}

.footer-item a,
.footer-item div {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5rem;
    text-decoration: none;
    transition: .5s;
    padding: .33rem;
    display: block;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .footer-item a,
    .footer-item div {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.5 - 1.2) * ((100vw - 20rem) / (80 - 20)));
    }
}

.footer-item a:hover,
.footer-item div:hover {
    color: rgb(255,130,45)
}

.copyright {
    width: 100%;
    padding: .5rem 0;
    background-color: black;
}

.copyright a {
    text-decoration: none;
    font-size: .8rem;
    line-height: 1.33rem;
    color: rgba(255, 255, 255, .66);
    text-align: center;
    display: block;
    width: 100%;
    transition: .8s;
}

.copyright a:hover {
    color: rgba(255, 255, 255, 1);
}

.hideSlider {
    display: none;
}

.bg-concerts {
    width: 100%;
    padding: 1rem 3%;
    background-color: rgba(136, 125, 130, 1);
}
@media (max-width: 1280px) {
    .bg-concerts {
        padding: calc(0rem + (1 - 0) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.concerts__title {
    font-size: 2.66rem;
    color: rgba(65, 47, 36, 1);
    text-transform: uppercase;
    text-align: center;
    padding: 5rem 0 3rem 0;
    font-weight: 700;
}
@media (max-width: 1280px) {
    .concerts__title {
        font-size: calc(1.33rem + (2.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1.66rem + (5 - 1.66) * ((100vw - 20rem) / (80 - 20))) 0
        calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.concerts__subtitle {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.66rem;
    color: rgb(230, 230, 230);
    padding-bottom: 3rem;
    letter-spacing: .02rem;
    text-align: center;
}
@media (max-width: 1280px) {
    .concerts__subtitle {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.concerts {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.concert {
    width: 47%;
    background-color: white;
    margin-bottom: 4rem;
    background-color: rgba(96, 85, 90, 1);
    position: relative;
    border-radius: .5rem;
}
@media (max-width: 1280px) {
    .concert {
        margin-bottom: calc(1.66rem + (4 - 1.66) * ((100vw - 20rem) / (80 - 20)));
    }
}

@media (max-width: 600px) {
    .concert {
        width: 98%;
        text-align: center;
    }
}

.concert__image {
    width: 100%;
    margin-bottom: 1rem;
}

.concert__image img {
    width: 100%;
}

.concert__title {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1rem 2rem 1rem 1rem;
    color: rgb(220, 220, 220);
    background-color: rgba(136, 125, 130, 1);
    display: inline-block;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    position: absolute;
    left: 0;
    top: 3rem;
}
@media (max-width: 1280px) {
    .concert__title {
        font-size: calc(.9rem + (1.2 - .9) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.9rem + (1.2 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)))
        calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)));
        top: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)))
    }
}

.concert__text {
    font-size: 1rem;
    line-height: 1.66rem;
    padding: 1rem 3rem 3rem 3rem;
    color: white;
    opacity: .66;
    letter-spacing: .02rem;
}
@media (max-width: 1280px) {
    .concert__text {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(0rem + (1 - 0) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(1.66rem + (3 - 1.66) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    z-index: 200000;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .8s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
@media (max-width: 1280px) {
    .popup__body {
        padding: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.popup__content {
    background-color: rgba(220, 220, 220, 1);
    color: black;
    padding: 3rem 3rem 1rem 3rem;
    position: relative;
    width: 30%;
    transition: .8s;
    border-radius: .5rem;
}
@media (max-width: 1500px) {
    .popup__content {
        width: 35%;
    }
}
@media (max-width: 1300px) {
    .popup__content {
        width: 40%;
    }
}
@media (max-width: 1280px) {
    .popup__content {
        padding: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 1200px) {
    .popup__content {
        width: 40%;
    }
}
@media (max-width: 1100px) {
    .popup__content {
        width: 45%;
    }
}
@media (max-width: 1000px) {
    .popup__content {
        width: 50%;
    }
}
@media (max-width: 900px) {
    .popup__content {
        width: 55%;
    }
}
@media (max-width: 800px) {
    .popup__content {
        width: 60%;
    }
}
@media (max-width: 700px) {
    .popup__content {
        width: 65%;
    }
}
@media (max-width: 600px) {
    .popup__content {
        width: 75%;
    }
}
@media (max-width: 500px) {
    .popup__content {
        width: 85%;
    }
}
@media (max-width: 450px) {
    .popup__content {
        width: 95%;
    }
}
@media (max-width: 400px) {
    .popup__content {
        width: 100%;
    }
}

.popup__close {
    position: absolute;
    font-size: 3rem;
    line-height: 3rem;
    right: 1rem;
    top: .66rem;
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: .8s;
    opacity: .5;
}
@media (max-width: 1280px) {
    .popup__close {
        font-size: calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
        right: calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)));
        top: calc(.16rem + (.66 - .16) * ((100vw - 20rem) / (80 - 20)));
    }
}

.popup__close:hover {
    opacity: 1;
}

.popup__title {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: #2C3E50;
    opacity: .8;
}
@media (max-width: 1280px) {
    .popup__title {
        font-size: calc(1.2rem + (2.2 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.33rem + (2.5 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        margin-bottom: calc(1.33rem + (2 - 1.33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.popup__text p {
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: .8;
    margin-bottom: .66rem;
}
@media (max-width: 1280px) {
    .popup__text p {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.1rem + (1.5 - 1.1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.popup__text img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.popup__text span {
    cursor: pointer;
    color: rgb(160, 34, 0);
    transition: .8s;
    text-decoration: underline;
}
.popup__text span:hover {
    cursor: pointer;
    color: rgb(200, 74, 0);
}

.login__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.login__form input {
    width: 100%;
    padding: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
}
@media (max-width: 1280px) {
    .login__form input {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.login__link {
    display: inline-block;
    font-size: 1rem;
    color: rgba(250, 250, 250, 1);
    padding: 1.66rem 1.2rem;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    margin: .33rem 2rem .66rem 0;
}
@media (max-width: 1280px) {
    .login__link {
        font-size: calc(.9rem + (1 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(.8rem + (1.2 - .8) * ((100vw - 20rem) / (80 - 20)));
        margin: calc(0rem + (.33 - 0) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(0rem + (.66 - 0) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.login__link:before {
    content: "";
    position: absolute;
    left: 0;
    top: 20%;
    width: 2.66rem;
    height: 2.66rem;
    border-radius: 4rem;
    background-color: rgb(201, 74, 0);
    transition: .5s;
    z-index: -1;
}
@media (max-width: 1280px) {
    .login__link:before {
        width: calc(2rem + (2.66 - 2) * ((100vw - 20rem) / (80 - 20)));
        height: calc(2rem + (2.66 - 2) * ((100vw - 20rem) / (80 - 20)));
    }
}

.login__link:hover:before {
    width: 100%;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#hidePX {
    position: fixed;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
}