.teachers {
    padding: 5rem 3% 3rem 3%;
    background: rgba(190, 220, 227, 1);
}
@media (max-width: 1280px) {
    .teachers {
        padding:
                calc(1.66rem + (5 - 1.66) * ((100vw - 20rem) / (80 - 20))) 3%
                calc(0rem + (3 - 0) * ((100vw - 20rem) / (80 - 20))) 3%;
    }
}

.teachers__title {
    font-size: 2.66rem;
    color: rgba(80, 110, 117, 1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 700;
}
@media (max-width: 1280px) {
    .teachers__title {
        font-size: calc(1.33rem + (2.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.teachers__content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.teacher {
    width: 48.66%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
    background-color: rgba(100, 130, 137, 1);
    flex-wrap: wrap;
    border-top: 2px solid rgba(190, 220, 227, 1);
}
@media (max-width: 1280px) {
    .teacher {
        padding: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
        margin-bottom: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 600px) {
    .teacher {
        width: 100%;
    }
}

.teacher__hide {

}
@media (max-width: 600px) {
    .teacher__hide {
        display: none;
    }
}

.teacher__video {
    width: 50%;
    position: relative;
}
@media (max-width: 1349px) {
    .teacher__video {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-bottom: 1rem;
    }
}

.teacher__video img {
    width: 100%;
    border-radius: .5rem;
}

.stars {
    position: absolute;
    left: 0;
    bottom: .66rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: .33rem 1rem .33rem 1rem;
}

.star {
    width: 7%;
    margin-right: .3rem;
}

.star img {
    width: 100%;
}

.teacher__txt {
    padding-left: 2rem;
    width: 50%;
    text-align: right;
}
@media (max-width: 1349px) {
    .teacher__txt {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
}

.teacher__name {
    font-size: 1.66rem;
    color: rgba(255, 255, 255, 1);
    line-height: 2rem;
    padding-bottom: 1rem;
}
@media (max-width: 1280px) {
    .teacher__name {
        font-size: calc(1.1rem + (1.33 - 1.1) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 600px) {
    .teacher__name {
        margin-top: 1rem;
    }
}

.teacher__direction {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 1rem;
}
@media (max-width: 1280px) {
    .teacher__direction {
        font-size: calc(.9rem + (1.2 - .9) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.15rem + (1.4 - 1.15) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.teacher__education {
    font-size: 1rem;
    line-height: 1.33rem;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 1rem;
}
@media (max-width: 1280px) {
    .teacher__education {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.15rem + (1.33 - 1.15) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.teacher__practice {
    font-size: 1rem;
    line-height: 1.33rem;
    color: rgba(255, 255, 255, 1);
}
@media (max-width: 1280px) {
    .teacher__practice {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.15rem + (1.33 - 1.15) * ((100vw - 20rem) / (80 - 20)));
    }
}


.teacher__link {
    display: inline-block;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    padding: 1.66rem;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .teacher__link {
        font-size: calc(.9rem + (1.1 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (80 - 20)));
        margin-top: calc(0rem + (1 - 0) * ((100vw - 20rem) / (80 - 20)));
    }
}

.teacher__link:before {
    content: "";
    position: absolute;
    left: 0;
    top: .8rem;
    width: 3.33rem;
    height: 3.33rem;
    border-radius: 3.33rem;
    background-color: rgb(201, 74, 0);
    transition: .5s;
    z-index: -1;
}
@media (max-width: 1280px) {
    .teacher__link:before {
        width: calc(2.33rem + (3.33 - 2.33) * ((100vw - 20rem) / (80 - 20)));
        height: calc(2.33rem + (3.33 - 2.33) * ((100vw - 20rem) / (80 - 20)));
        top: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.teacher__link:hover:before {
    width: 100%;
}